@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .UniversalHeadingText {
        @apply text-3xl sm:text-4xl md:text-3xl lg:text-5xl
    }

    .UniversalPadding {
        @apply px-4 sm:px-8 md:px-4 mid-lg:px-14 lg:px-24
    }

    .UniversalMargin {
        @apply mx-4 sm:mx-8 md:mx-4 mid-lg:mx-14 lg:mx-24
    }

    .Btn-Primary {
        @apply btn Bg-Primary rounded-3xl px-8 border-2 border-[#006838] hover:border-[#006838] transition duration-500 hover:bg-transparent hover:Text-Primary cursor-pointer
    }

    .Btn-Outline {
        @apply btn bg-transparent rounded-3xl px-8 border-2 border-[#006838] Text-Primary transition duration-300 hover:Bg-Primary hover:border-[#006838] hover:text-white
    }

}

@layer utilities {
    .Bg-Gradient {
        background-image: linear-gradient(120deg, #0068381A 0%, #62A73B00 100%);
    }

    .Text-Primary {
        color: #006838;
    }

    .Bg-Primary {
        background-color: #006838;
    }

    .Bg-Secondary {
        background-color: #00683852
    }
}